--
-- PostgreSQL database dump
--

\restrict hZZKdVuRBXeWg8U3BLXJgqRIeSPMLmi9eodoUDE4oaQwK0eNYvsoljoOwPWNqD2

-- Dumped from database version 18.4
-- Dumped by pg_dump version 18.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


--
-- Name: actualizar_fecha_modificacion_comparables(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.actualizar_fecha_modificacion_comparables() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.fecha_modificacion = CURRENT_TIMESTAMP;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.actualizar_fecha_modificacion_comparables() OWNER TO postgres;

--
-- Name: actualizar_fecha_modificacion_contadores(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.actualizar_fecha_modificacion_contadores() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.fecha_modificacion = CURRENT_TIMESTAMP;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.actualizar_fecha_modificacion_contadores() OWNER TO postgres;

--
-- Name: actualizar_fecha_modificacion_solicitudes(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.actualizar_fecha_modificacion_solicitudes() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.fecha_modificacion = CURRENT_TIMESTAMP;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.actualizar_fecha_modificacion_solicitudes() OWNER TO postgres;

--
-- Name: actualizar_fecha_modificacion_tasaciones(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.actualizar_fecha_modificacion_tasaciones() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.fecha_modificacion = CURRENT_TIMESTAMP;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.actualizar_fecha_modificacion_tasaciones() OWNER TO postgres;

--
-- Name: actualizar_fecha_modificacion_usuarios(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.actualizar_fecha_modificacion_usuarios() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.fecha_modificacion = CURRENT_TIMESTAMP;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.actualizar_fecha_modificacion_usuarios() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: comparables; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.comparables (
    id integer NOT NULL,
    uuid uuid DEFAULT gen_random_uuid() NOT NULL,
    usuario_id integer,
    tasacion_origen_id integer,
    direccion character varying(500),
    provincia character varying(100),
    localidad character varying(100),
    codigo_postal character varying(20),
    lat numeric(10,8),
    lon numeric(11,8),
    tipo_inmueble character varying(20) NOT NULL,
    fuente character varying(20) DEFAULT 'manual'::character varying,
    tipo_valor character varying(20) DEFAULT 'venta'::character varying,
    valor numeric(15,2),
    valor_m2 numeric(10,2),
    superficie numeric(10,2),
    frente numeric(10,2),
    fondo numeric(10,2),
    tipo_lote character varying(50),
    ambientes integer,
    dormitorios integer,
    banos integer,
    cochera boolean,
    tiene_ascensor boolean,
    tiene_pileta boolean,
    tiene_jardin boolean,
    fecha_creacion timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    fecha_modificacion timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    datos jsonb DEFAULT '{}'::jsonb NOT NULL,
    observaciones text,
    id_enviador integer,
    id_creador integer,
    nombre_creador character varying(100),
    id_publico character varying(20) DEFAULT ''::character varying,
    solicitud_origen_id integer,
    CONSTRAINT comparables_fuente_check CHECK (((fuente)::text = ANY ((ARRAY['manual'::character varying, 'de_tasacion'::character varying, 'compartido'::character varying])::text[]))),
    CONSTRAINT comparables_tipo_inmueble_check CHECK (((tipo_inmueble)::text = ANY ((ARRAY['lote'::character varying, 'departamento'::character varying, 'casa'::character varying])::text[]))),
    CONSTRAINT comparables_tipo_valor_check CHECK (((tipo_valor)::text = ANY ((ARRAY['venta'::character varying, 'alquiler'::character varying])::text[])))
);


ALTER TABLE public.comparables OWNER TO postgres;

--
-- Name: comparables_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.comparables_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.comparables_id_seq OWNER TO postgres;

--
-- Name: comparables_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.comparables_id_seq OWNED BY public.comparables.id;


--
-- Name: contadores; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.contadores (
    id integer NOT NULL,
    tipo character varying(10) NOT NULL,
    valor integer DEFAULT 100 NOT NULL,
    fecha_creacion timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    fecha_modificacion timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT contadores_tipo_check CHECK (((tipo)::text = ANY ((ARRAY['T'::character varying, 'C'::character varying, 'U'::character varying, 'S'::character varying])::text[])))
);


ALTER TABLE public.contadores OWNER TO postgres;

--
-- Name: contadores_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.contadores_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.contadores_id_seq OWNER TO postgres;

--
-- Name: contadores_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.contadores_id_seq OWNED BY public.contadores.id;


--
-- Name: planes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.planes (
    id integer NOT NULL,
    nombre character varying(50) NOT NULL,
    descripcion text,
    limite_tasaciones_mensuales integer DEFAULT 10,
    limite_comparables_mensuales integer DEFAULT 50,
    limite_compartidos_mensuales integer DEFAULT 20,
    precio_mensual numeric(10,2) DEFAULT 0,
    caracteristicas jsonb DEFAULT '{}'::jsonb,
    activo boolean DEFAULT true
);


ALTER TABLE public.planes OWNER TO postgres;

--
-- Name: planes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.planes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.planes_id_seq OWNER TO postgres;

--
-- Name: planes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.planes_id_seq OWNED BY public.planes.id;


--
-- Name: schema_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.schema_migrations (
    id integer NOT NULL,
    version character varying(50) NOT NULL,
    nombre character varying(255) NOT NULL,
    fecha_ejecucion timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.schema_migrations OWNER TO postgres;

--
-- Name: schema_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.schema_migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.schema_migrations_id_seq OWNER TO postgres;

--
-- Name: schema_migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.schema_migrations_id_seq OWNED BY public.schema_migrations.id;


--
-- Name: solicitudes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.solicitudes (
    id integer NOT NULL,
    uuid uuid DEFAULT gen_random_uuid() NOT NULL,
    usuario_id integer,
    tasacion_generada_id integer,
    tipo_inmueble character varying(20),
    estado character varying(20) DEFAULT 'pendiente'::character varying,
    link_publico character varying(255),
    fecha_expiracion timestamp without time zone,
    fecha_creacion timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    fecha_completacion timestamp without time zone,
    datos_solicitados jsonb DEFAULT '{}'::jsonb NOT NULL,
    id_publico character varying(20) DEFAULT ''::character varying,
    tasacion_id integer,
    datos jsonb DEFAULT '{}'::jsonb NOT NULL,
    fecha_modificacion timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT solicitudes_estado_check CHECK (((estado)::text = ANY ((ARRAY['pendiente'::character varying, 'aceptada'::character varying, 'rechazada'::character varying, 'completada'::character varying, 'expirada'::character varying])::text[]))),
    CONSTRAINT solicitudes_tipo_inmueble_check CHECK (((tipo_inmueble)::text = ANY ((ARRAY['lote'::character varying, 'departamento'::character varying, 'casa'::character varying])::text[])))
);


ALTER TABLE public.solicitudes OWNER TO postgres;

--
-- Name: solicitudes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.solicitudes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.solicitudes_id_seq OWNER TO postgres;

--
-- Name: solicitudes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.solicitudes_id_seq OWNED BY public.solicitudes.id;


--
-- Name: tasacion_comparable; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tasacion_comparable (
    id integer NOT NULL,
    tasacion_id integer NOT NULL,
    comparable_id integer NOT NULL,
    orden integer DEFAULT 0,
    fecha_agregacion timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.tasacion_comparable OWNER TO postgres;

--
-- Name: tasacion_comparable_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tasacion_comparable_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tasacion_comparable_id_seq OWNER TO postgres;

--
-- Name: tasacion_comparable_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tasacion_comparable_id_seq OWNED BY public.tasacion_comparable.id;


--
-- Name: tasaciones; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tasaciones (
    id integer NOT NULL,
    uuid uuid DEFAULT gen_random_uuid() NOT NULL,
    usuario_id integer,
    direccion character varying(500),
    provincia character varying(100),
    localidad character varying(100),
    codigo_postal character varying(20),
    lat numeric(10,8),
    lon numeric(11,8),
    orientacion character varying(50),
    tipo_inmueble character varying(20),
    estado character varying(20) DEFAULT 'borrador'::character varying,
    origen character varying(20) DEFAULT 'propia'::character varying,
    origen_id character varying(50),
    valor_final numeric(15,2),
    valor_m2 numeric(10,2),
    superficie_total numeric(10,2),
    superficie_homogeneizada numeric(10,2),
    tipo_lote character varying(50),
    frente numeric(10,2),
    fondo numeric(10,2),
    fos numeric(5,2),
    fot numeric(5,2),
    zonificacion character varying(50),
    ambientes integer,
    dormitorios integer,
    banos integer,
    cochera boolean,
    baulera boolean,
    tiene_ascensor boolean,
    antiguedad character varying(50),
    estado_conservacion character varying(50),
    ubicacion_piso character varying(50),
    ubicacion_planta character varying(50),
    superficie_cubierta numeric(10,2),
    tiene_pileta boolean,
    tiene_jardin boolean,
    superficie_terreno numeric(10,2),
    fecha_creacion timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    fecha_modificacion timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    fecha_completacion timestamp without time zone,
    datos jsonb DEFAULT '{}'::jsonb NOT NULL,
    resultado jsonb,
    coeficientes_personalizados jsonb DEFAULT '{}'::jsonb,
    observaciones text,
    comparables_ids integer[] DEFAULT '{}'::integer[],
    tipo character varying(20) DEFAULT 'lote'::character varying,
    id_publico character varying(20) DEFAULT ''::character varying,
    CONSTRAINT tasaciones_estado_check CHECK (((estado)::text = ANY ((ARRAY['borrador'::character varying, 'completada'::character varying, 'archivada'::character varying])::text[]))),
    CONSTRAINT tasaciones_origen_check CHECK (((origen)::text = ANY ((ARRAY['propia'::character varying, 'compartida'::character varying, 'solicitud'::character varying])::text[]))),
    CONSTRAINT tasaciones_tipo_inmueble_check CHECK (((tipo_inmueble)::text = ANY ((ARRAY['lote'::character varying, 'departamento'::character varying, 'casa'::character varying])::text[])))
);


ALTER TABLE public.tasaciones OWNER TO postgres;

--
-- Name: tasaciones_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tasaciones_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tasaciones_id_seq OWNER TO postgres;

--
-- Name: tasaciones_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tasaciones_id_seq OWNED BY public.tasaciones.id;


--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.usuarios (
    id integer NOT NULL,
    uuid uuid DEFAULT gen_random_uuid() NOT NULL,
    email character varying(255) NOT NULL,
    google_id character varying(255),
    password_hash character varying(255),
    nombre character varying(100),
    apellido character varying(100),
    plan_id integer DEFAULT 1,
    estado character varying(20) DEFAULT 'activo'::character varying,
    fecha_creacion timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    fecha_modificacion timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    ultimo_acceso timestamp without time zone,
    CONSTRAINT usuarios_estado_check CHECK (((estado)::text = ANY ((ARRAY['activo'::character varying, 'suspendido'::character varying, 'eliminado'::character varying])::text[])))
);


ALTER TABLE public.usuarios OWNER TO postgres;

--
-- Name: usuarios_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.usuarios_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.usuarios_id_seq OWNER TO postgres;

--
-- Name: usuarios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.usuarios_id_seq OWNED BY public.usuarios.id;


--
-- Name: comparables id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comparables ALTER COLUMN id SET DEFAULT nextval('public.comparables_id_seq'::regclass);


--
-- Name: contadores id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.contadores ALTER COLUMN id SET DEFAULT nextval('public.contadores_id_seq'::regclass);


--
-- Name: planes id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.planes ALTER COLUMN id SET DEFAULT nextval('public.planes_id_seq'::regclass);


--
-- Name: schema_migrations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schema_migrations ALTER COLUMN id SET DEFAULT nextval('public.schema_migrations_id_seq'::regclass);


--
-- Name: solicitudes id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.solicitudes ALTER COLUMN id SET DEFAULT nextval('public.solicitudes_id_seq'::regclass);


--
-- Name: tasacion_comparable id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tasacion_comparable ALTER COLUMN id SET DEFAULT nextval('public.tasacion_comparable_id_seq'::regclass);


--
-- Name: tasaciones id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tasaciones ALTER COLUMN id SET DEFAULT nextval('public.tasaciones_id_seq'::regclass);


--
-- Name: usuarios id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios ALTER COLUMN id SET DEFAULT nextval('public.usuarios_id_seq'::regclass);


--
-- Data for Name: comparables; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: contadores; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.contadores (id, tipo, valor, fecha_creacion, fecha_modificacion) FROM stdin;
3	U	100	2026-07-12 11:35:56.287568	2026-07-13 18:37:20.989632
1	T	105	2026-07-12 11:35:56.287568	2026-07-19 23:34:30.175628
2	C	134	2026-07-12 11:35:56.287568	2026-07-19 23:34:30.183044
4	S	105	2026-07-12 11:35:56.287568	2026-07-19 23:34:30.18571
\.


--
-- Data for Name: planes; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: schema_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: solicitudes; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: tasacion_comparable; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tasacion_comparable (id, tasacion_id, comparable_id, orden, fecha_agregacion) FROM stdin;
15	5	25	0	2026-07-17 19:09:15.02395
16	3	11	0	2026-07-18 14:00:41.16943
17	3	12	1	2026-07-18 14:00:41.179507
22	4	21	0	2026-07-18 20:04:20.827642
23	4	19	1	2026-07-18 20:04:20.83331
24	4	18	2	2026-07-18 20:04:20.83663
25	4	20	3	2026-07-18 20:04:20.839063
\.


--
-- Data for Name: tasaciones; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: usuarios; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.usuarios (id, uuid, email, google_id, password_hash, nombre, apellido, plan_id, estado, fecha_creacion, fecha_modificacion, ultimo_acceso) FROM stdin;
1	9db67cfd-2d7a-45af-a081-209e791bc341	test@example.com	\N	\N	Usuario	Prueba	1	activo	2026-07-12 11:57:03.317856	2026-07-12 11:57:03.317856	\N
\.


--
-- Name: comparables_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.comparables_id_seq', 34, true);


--
-- Name: contadores_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.contadores_id_seq', 85, true);


--
-- Name: planes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.planes_id_seq', 6, true);


--
-- Name: schema_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.schema_migrations_id_seq', 11, true);


--
-- Name: solicitudes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.solicitudes_id_seq', 5, true);


--
-- Name: tasacion_comparable_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tasacion_comparable_id_seq', 25, true);


--
-- Name: tasaciones_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tasaciones_id_seq', 5, true);


--
-- Name: usuarios_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.usuarios_id_seq', 1, true);


--
-- Name: comparables comparables_id_publico_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comparables
    ADD CONSTRAINT comparables_id_publico_key UNIQUE (id_publico);


--
-- Name: comparables comparables_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comparables
    ADD CONSTRAINT comparables_pkey PRIMARY KEY (id);


--
-- Name: comparables comparables_uuid_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comparables
    ADD CONSTRAINT comparables_uuid_key UNIQUE (uuid);


--
-- Name: contadores contadores_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.contadores
    ADD CONSTRAINT contadores_pkey PRIMARY KEY (id);


--
-- Name: contadores contadores_tipo_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.contadores
    ADD CONSTRAINT contadores_tipo_key UNIQUE (tipo);


--
-- Name: planes planes_nombre_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.planes
    ADD CONSTRAINT planes_nombre_key UNIQUE (nombre);


--
-- Name: planes planes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.planes
    ADD CONSTRAINT planes_pkey PRIMARY KEY (id);


--
-- Name: schema_migrations schema_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schema_migrations
    ADD CONSTRAINT schema_migrations_pkey PRIMARY KEY (id);


--
-- Name: schema_migrations schema_migrations_version_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schema_migrations
    ADD CONSTRAINT schema_migrations_version_key UNIQUE (version);


--
-- Name: solicitudes solicitudes_id_publico_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.solicitudes
    ADD CONSTRAINT solicitudes_id_publico_key UNIQUE (id_publico);


--
-- Name: solicitudes solicitudes_link_publico_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.solicitudes
    ADD CONSTRAINT solicitudes_link_publico_key UNIQUE (link_publico);


--
-- Name: solicitudes solicitudes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.solicitudes
    ADD CONSTRAINT solicitudes_pkey PRIMARY KEY (id);


--
-- Name: solicitudes solicitudes_uuid_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.solicitudes
    ADD CONSTRAINT solicitudes_uuid_key UNIQUE (uuid);


--
-- Name: tasacion_comparable tasacion_comparable_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tasacion_comparable
    ADD CONSTRAINT tasacion_comparable_pkey PRIMARY KEY (id);


--
-- Name: tasacion_comparable tasacion_comparable_tasacion_id_comparable_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tasacion_comparable
    ADD CONSTRAINT tasacion_comparable_tasacion_id_comparable_id_key UNIQUE (tasacion_id, comparable_id);


--
-- Name: tasaciones tasaciones_id_publico_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tasaciones
    ADD CONSTRAINT tasaciones_id_publico_key UNIQUE (id_publico);


--
-- Name: tasaciones tasaciones_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tasaciones
    ADD CONSTRAINT tasaciones_pkey PRIMARY KEY (id);


--
-- Name: tasaciones tasaciones_uuid_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tasaciones
    ADD CONSTRAINT tasaciones_uuid_key UNIQUE (uuid);


--
-- Name: usuarios usuarios_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_email_key UNIQUE (email);


--
-- Name: usuarios usuarios_google_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_google_id_key UNIQUE (google_id);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id);


--
-- Name: usuarios usuarios_uuid_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_uuid_key UNIQUE (uuid);


--
-- Name: idx_comparables_coords; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_comparables_coords ON public.comparables USING btree (lat, lon);


--
-- Name: idx_comparables_datos; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_comparables_datos ON public.comparables USING gin (datos);


--
-- Name: idx_comparables_fuente; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_comparables_fuente ON public.comparables USING btree (fuente);


--
-- Name: idx_comparables_id_publico; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_comparables_id_publico ON public.comparables USING btree (id_publico);


--
-- Name: idx_comparables_localidad; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_comparables_localidad ON public.comparables USING btree (localidad);


--
-- Name: idx_comparables_provincia; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_comparables_provincia ON public.comparables USING btree (provincia);


--
-- Name: idx_comparables_solicitud_origen; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_comparables_solicitud_origen ON public.comparables USING btree (solicitud_origen_id);


--
-- Name: idx_comparables_superficie; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_comparables_superficie ON public.comparables USING btree (superficie);


--
-- Name: idx_comparables_tipo; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_comparables_tipo ON public.comparables USING btree (tipo_inmueble);


--
-- Name: idx_comparables_usuario; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_comparables_usuario ON public.comparables USING btree (usuario_id);


--
-- Name: idx_comparables_valor; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_comparables_valor ON public.comparables USING btree (valor);


--
-- Name: idx_contadores_tipo; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_contadores_tipo ON public.contadores USING btree (tipo);


--
-- Name: idx_solicitudes_estado; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_solicitudes_estado ON public.solicitudes USING btree (estado);


--
-- Name: idx_solicitudes_id_publico; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_solicitudes_id_publico ON public.solicitudes USING btree (id_publico);


--
-- Name: idx_solicitudes_link; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_solicitudes_link ON public.solicitudes USING btree (link_publico);


--
-- Name: idx_solicitudes_usuario; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_solicitudes_usuario ON public.solicitudes USING btree (usuario_id);


--
-- Name: idx_tasacion_comparable_comparable; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tasacion_comparable_comparable ON public.tasacion_comparable USING btree (comparable_id);


--
-- Name: idx_tasacion_comparable_tasacion; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tasacion_comparable_tasacion ON public.tasacion_comparable USING btree (tasacion_id);


--
-- Name: idx_tasaciones_ambientes; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tasaciones_ambientes ON public.tasaciones USING btree (ambientes);


--
-- Name: idx_tasaciones_cochera; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tasaciones_cochera ON public.tasaciones USING btree (cochera);


--
-- Name: idx_tasaciones_coords; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tasaciones_coords ON public.tasaciones USING btree (lat, lon);


--
-- Name: idx_tasaciones_datos; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tasaciones_datos ON public.tasaciones USING gin (datos);


--
-- Name: idx_tasaciones_dormitorios; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tasaciones_dormitorios ON public.tasaciones USING btree (dormitorios);


--
-- Name: idx_tasaciones_estado; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tasaciones_estado ON public.tasaciones USING btree (estado);


--
-- Name: idx_tasaciones_fecha; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tasaciones_fecha ON public.tasaciones USING btree (fecha_creacion);


--
-- Name: idx_tasaciones_id_publico; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tasaciones_id_publico ON public.tasaciones USING btree (id_publico);


--
-- Name: idx_tasaciones_localidad; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tasaciones_localidad ON public.tasaciones USING btree (localidad);


--
-- Name: idx_tasaciones_provincia; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tasaciones_provincia ON public.tasaciones USING btree (provincia);


--
-- Name: idx_tasaciones_superficie; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tasaciones_superficie ON public.tasaciones USING btree (superficie_total);


--
-- Name: idx_tasaciones_tipo; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tasaciones_tipo ON public.tasaciones USING btree (tipo_inmueble);


--
-- Name: idx_tasaciones_tipo_lote; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tasaciones_tipo_lote ON public.tasaciones USING btree (tipo_lote);


--
-- Name: idx_tasaciones_usuario; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tasaciones_usuario ON public.tasaciones USING btree (usuario_id);


--
-- Name: idx_tasaciones_valor; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tasaciones_valor ON public.tasaciones USING btree (valor_final);


--
-- Name: idx_tasaciones_zonificacion; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tasaciones_zonificacion ON public.tasaciones USING btree (zonificacion);


--
-- Name: idx_usuarios_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_usuarios_email ON public.usuarios USING btree (email);


--
-- Name: idx_usuarios_estado; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_usuarios_estado ON public.usuarios USING btree (estado);


--
-- Name: idx_usuarios_google_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_usuarios_google_id ON public.usuarios USING btree (google_id);


--
-- Name: idx_usuarios_plan; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_usuarios_plan ON public.usuarios USING btree (plan_id);


--
-- Name: comparables trg_comparables_modificacion; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_comparables_modificacion BEFORE UPDATE ON public.comparables FOR EACH ROW EXECUTE FUNCTION public.actualizar_fecha_modificacion_comparables();


--
-- Name: solicitudes trg_solicitudes_modificacion; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_solicitudes_modificacion BEFORE UPDATE ON public.solicitudes FOR EACH ROW EXECUTE FUNCTION public.actualizar_fecha_modificacion_solicitudes();


--
-- Name: tasaciones trg_tasaciones_modificacion; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_tasaciones_modificacion BEFORE UPDATE ON public.tasaciones FOR EACH ROW EXECUTE FUNCTION public.actualizar_fecha_modificacion_tasaciones();


--
-- Name: usuarios trg_usuarios_modificacion; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_usuarios_modificacion BEFORE UPDATE ON public.usuarios FOR EACH ROW EXECUTE FUNCTION public.actualizar_fecha_modificacion_usuarios();


--
-- Name: contadores trigger_actualizar_fecha_modificacion_contadores; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trigger_actualizar_fecha_modificacion_contadores BEFORE UPDATE ON public.contadores FOR EACH ROW EXECUTE FUNCTION public.actualizar_fecha_modificacion_contadores();


--
-- Name: comparables comparables_id_creador_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comparables
    ADD CONSTRAINT comparables_id_creador_fkey FOREIGN KEY (id_creador) REFERENCES public.usuarios(id);


--
-- Name: comparables comparables_id_enviador_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comparables
    ADD CONSTRAINT comparables_id_enviador_fkey FOREIGN KEY (id_enviador) REFERENCES public.usuarios(id);


--
-- Name: comparables comparables_solicitud_origen_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comparables
    ADD CONSTRAINT comparables_solicitud_origen_id_fkey FOREIGN KEY (solicitud_origen_id) REFERENCES public.solicitudes(id) ON DELETE SET NULL;


--
-- Name: comparables comparables_tasacion_origen_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comparables
    ADD CONSTRAINT comparables_tasacion_origen_id_fkey FOREIGN KEY (tasacion_origen_id) REFERENCES public.tasaciones(id);


--
-- Name: comparables comparables_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comparables
    ADD CONSTRAINT comparables_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id);


--
-- Name: solicitudes solicitudes_tasacion_generada_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.solicitudes
    ADD CONSTRAINT solicitudes_tasacion_generada_id_fkey FOREIGN KEY (tasacion_generada_id) REFERENCES public.tasaciones(id);


--
-- Name: solicitudes solicitudes_tasacion_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.solicitudes
    ADD CONSTRAINT solicitudes_tasacion_id_fkey FOREIGN KEY (tasacion_id) REFERENCES public.tasaciones(id);


--
-- Name: solicitudes solicitudes_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.solicitudes
    ADD CONSTRAINT solicitudes_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id);


--
-- Name: tasacion_comparable tasacion_comparable_comparable_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tasacion_comparable
    ADD CONSTRAINT tasacion_comparable_comparable_id_fkey FOREIGN KEY (comparable_id) REFERENCES public.comparables(id) ON DELETE CASCADE;


--
-- Name: tasacion_comparable tasacion_comparable_tasacion_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tasacion_comparable
    ADD CONSTRAINT tasacion_comparable_tasacion_id_fkey FOREIGN KEY (tasacion_id) REFERENCES public.tasaciones(id) ON DELETE CASCADE;


--
-- Name: tasaciones tasaciones_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tasaciones
    ADD CONSTRAINT tasaciones_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id);


--
-- Name: usuarios usuarios_plan_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_plan_id_fkey FOREIGN KEY (plan_id) REFERENCES public.planes(id);


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;
GRANT ALL ON SCHEMA public TO PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict hZZKdVuRBXeWg8U3BLXJgqRIeSPMLmi9eodoUDE4oaQwK0eNYvsoljoOwPWNqD2

